:root {
  --primary-color: #1B6426;
  --primary-color-rgb: 27, 100, 38;
  --bs-primary: var(--primary-color);
  --bs-primary-rgb: var(--primary-color-rgb);
  --primary-color-alpha-60: rgba(var(--primary-color-rgb), 0.6);
  --primary-hover-color: #40A249;

  --info-color: #005EA6;
  --bs-info: var(--info-color);
  --info-hover-color: #017ae0;

  --white-color: #FFFFFF;
  --white-alpha-49: rgba(255, 255, 255, 0.49);
  --white-alpha-50: rgba(255, 255, 255, 0.5);

  --gray-color: #888;
  --gray-hover-color: #9A9A9A;

  --muted-color: var(--gray-hover-color);
  --shadow-color: rgba(0, 0, 0, 0.3);

  --progress-bg: rgba(222, 222, 222, 0.8);

  --btn-shadow: rgba(0, 0, 0, 0.17);

  --card-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);

  --body-text-color: #2c2c2c;
  --body-text-alpha-20: rgba(44, 44, 44, 0.2);

  --black-alpha-15: rgba(0, 0, 0, 0.15);

  --sidebar-width: 300px;
}