$primary: #1B6426 !default;
$font-family-sans-serif: "Montserrat", "Helvetica Neue", Arial, sans-serif;

$mobile-breakpoint: 576px;

:root {
  --bs-primary: var(--primary-color, #1B6426);
  --bs-primary-rgb: var(--primary-color-rgb, 55, 140, 63);
}
